doctype html

html

    head

        include public/header
        link(rel='stylesheet' href='/stylesheets/index/footer.css')

    body
    
        include public/navbar

        .intro
            .container
                .row
                    .col-md-10.col-md-offset-1
                        img(src = intro.image)
                        p !{intro.text}

        .section.section-discover-pad
            .container
                .row
                    .col-md-4.col-md-offset-1.col-sm-6
                        h2 #{discover.title}
                        p #{discover.text}
                        a(href="#{discover.href}")
                            span More
                            button >
                    .col-md-4.col-md-offset-2.col-sm-4.col-sm-offset-2
                        img(src=discover.image)

        .section.section-custom-pad
            .container
                .row
                    .col-md-4.col-md-offset-1.col-sm-4
                        img(src=custom.image)
                    .col-md-4.col-md-offset-2.col-sm-6.col-sm-offset-2
                        h2 #{custom.title}
                        p #{custom.text}
                        a(href="#{custom.href}")
                            span More
                            button >


        .section.section-data-resource
            .container
                .row
                    .col-md-4.col-md-offset-1.col-sm-6
                        h2 #{resource.title}
                        p #{resource.text}
                        a(href="#{resource.href}")
                            span More
                            button >
                    .col-md-4.col-md-offset-2.col-sm-4.col-sm-offset-2
                        img(src=resource.image)

        .section.section-datahunter-report
            .container
                .row
                    .col-md-4.col-md-offset-1.col-sm-4
                        img(src=report.image)
                    .col-md-4.col-md-offset-2.col-sm-6.col-sm-offset-2
                        h2 #{report.title}
                        p #{report.text}
                        a(href='#{report.href}')
                            span More
                            button >


        include public/footer