div(role="navigation" id="console-sidebar")
	.sidebar-nav
		ul.nav
			for item in siderbar.siderbar
				if key == item.key
					li.change
						a(href=item.href)
							img(src=item.imghover, alt="")
							span=item.label
				else
					li
						a(href=item.href)
							img(src=item.img, alt="")
							span=item.label






