extends public/layout

block navbar
    include public/navbar

block content
    div.container(page="users-register")
        div(class="step")
            .container
                ul.row
                    li.active.col-lg-4.col-md-4.col-sm-4 1.账号和密码
                    li.col-lg-4.col-md-4.col-sm-4 2.个人信息
                    li.col-lg-4.col-md-4.col-sm-4 3.完成
        form.form-horizontal(action="/users/register", method="POST")
            #first-step
                - var labels = [{text: "邮箱：", type: "email", name:"account"}, {text: "密码：", type: "password", name:"password"}, {text: "确认密码：", type: "password", name:"confirm"}]
                each label in labels
                    div.form-group
                        label.col-sm-1.col-sm-offset-4.control-label(for=label.name)= label.text
                        div.col-sm-3
                            input.form-control(type=label.type, id=label.name, name=label.name, placeholder=label.placeholder)
                //下面的空格是特殊字符
                p.first-step.err-msg= err ? err.msg : '　'
                button.btn.btn-primary.center-block(id="next", type="button") 下一步
            #second-step
                - var labels = [{text: "姓名：", type: "text", name:"name"}, {text: "手机号：", type: "text", name:"phone"}, {text: "所在企业：", type: "text", name:"enterprise"}]
                each label in labels
                    div.form-group
                        label.col-sm-1.col-sm-offset-4.control-label(for=label.name)= label.text
                        div.col-sm-3
                            input.form-control(type=label.type, id=label.name, name=label.name, placeholder=label.placeholder)
                div.form-group
                    label.col-sm-1.col-sm-offset-4.control-label 所在行业：
                    div.col-sm-3
                        select#industry.form-control
                            each hub, i in industry.hub
                                option(data-hub-id=i)= hub
                div.form-group
                    label.col-sm-1.col-sm-offset-4.control-label 所在子行业：
                    div.col-sm-3
                        select#sub-industry.form-control
                            each sub, i in industry.sub
                                each value in sub
                                    option(data-sub-id=i style="display:none")= value
                div.form-group
                    label.col-sm-1.col-sm-offset-4.control-label
                    div.col-sm-3
                            input.radio(type="checkbox" id="read")
                            span.read 我已阅读并接受
                                a(href="#") 版权声明
                                | 和
                                a(href="#") 隐私保护条款
                //下面的空格是特殊字符
                p.second-step.err-msg= err ? err.msg : '　'
                button.btn.btn-primary.center-block(id="register", type="button") 注册
            #third-step
                div(class="success")
                    img.center-block(src="/images/users/register/success.png")
                    p 完成注册，请前往
                        a.login(href="/users/login") 登录